* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


section {
    margin-top: 30px;
    width: 80%;
    margin: 0 auto;

}

.Uno {
    width: calc(25% - 2px);
    margin-left: 1px;
    margin-right: 1px;
    float: left;
    text-align: center;
    margin-top: 30px;


}

ul {
    list-style: none;
}


li {
    text-align: center;

}

.Negro {
    text-align: center;
    color: white;
    font-size: 16px;
    background-color: black;
    border-style: groove;
    border-color: white;
}

.Verde {
    text-align: center;
    color: white;
    font-size: 25px;
    background-color: green;
    padding: 15px;
    border-style: groove;
    border-color: white;
}

.Rosa {
    text-align: center;
    background-color: rosybrown;
    padding: 5px;
    border-style: groove;
    border-color: white;
}

.enlace {
    text-align: center;
    background-color: rosybrown;
    padding: 5px;
    border-style: groove;
    border-color: white -moz-box-shadow: 1px 14px 2px #000000;
    -webkit-box-shadow: 1px 14px 2px #000000;
    box-shadow: 1px 14px 2px #000000;
}

.Uno:first-child {
    border-left: 3px solid red;
}

.Uno:hover {
    width: 50%;
    transition-delay: 1s;
    transition-property:all;
    transition-timing-function: ease-out;
    
}
.silla{margin-top: 120px !important;
    text-align: center;}
.silla {
transition:All 0.7308s ease-in;
-webkit-transition:All 0.7308s ease-in;
-moz-transition:All 0.7308s ease-in;
-o-transition:All 0.7308s ease-in;
transform: rotate(0deg) scale(0.792) skew(0deg) translate(-297px);
-webkit-transform: rotate(0deg) scale(0.792) skew(0deg) translate(-297px);
-moz-transform: rotate(0deg) scale(0.792) skew(0deg) translate(-297px);
-o-transform: rotate(0deg) scale(0.792) skew(0deg) translate(-297px);
-ms-transform: rotate(0deg) scale(0.792) skew(0deg) translate(-297px);
}
.silla:hover{
transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
-webkit-transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
-moz-transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
-o-transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
-ms-transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
}}

.Limpiar {
    clear: both;
}

@media only screen and (max-width:768px){
    body{background-color: red;}
    .Uno{
        width: calc(50% - 2px);
    }
}

@media only screen and (max-width:600px){
    body{background-color: green;}
    .Uno{
        width: calc(100% - 2px);
        clear: both;
    }
    .Negro {background-color: blue;}
    
}
